{% load static i18n %}
<!doctype html>
<html lang="en">
<head>
    <title>SFTS Group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    {% block navbar %}
        {% include '_includes/navbar.html' %}
    {% endblock %}


    <div class="site-blocks-cover overlay" style="background-image: url({% static 'images/hero_2.jpg' %});"
         data-aos="fade"
         id="home-section">

        <div class="container">
            <div class="row align-items-center justify-content-center">


                <div class="col-md-10 mt-lg-5 text-center">

                    <div class="single-text owl-carousel">
                        <div class="slide">
                            <h1 class="text-uppercase"
                                data-aos="fade-up">{% trans 'Automation of business processes' %}</h1>
                            <p class="mb-5 desc" data-aos="fade-up"
                               data-aos-delay="100">{% trans 'This is the process of transferring solutions to routine tasks of employees to automated systems, which allows you to free up resources, respond to market changes in a timely manner, make quick decisions and plan further actions of the company.' %}</p>

                        </div>
                        <div class="slide">
                            <h1 class="text-uppercase" data-aos="fade-up">{% trans 'FINANCIAL ANALYSIS' %}</h1>
                                <p class="mb-5 desc" data-aos="fade-up"
                                   data-aos-delay="100">{% trans "Analysis of the main financial indicators of the company's activities: liquidity, asset turnover, profitability, market value." %}</p>

                        </div>


                        <div class="slide">
                            <h1 class="text-uppercase" data-aos="fade-up">{% trans 'BUDGETING' %}</h1>
                                <p class="mb-5 desc" data-aos="fade-up"
                                   data-aos-delay="100">{% trans 'Budgeting is the process of drafting, executing, monitoring and analyzing the execution of budgets of  organizations.' %}</p>

                        </div>
                        <div class="slide">
                            <h1 class="text-uppercase" data-aos="fade-up">{% trans 'BUILDING A FINANCIAL MODEL' %}</h1>
                                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">{% trans 'This is a set of characteristics that reflect the current state of affairs and become the basis for forecasts for the future.' %}</p>

                        </div>


                    </div>
                </div>

            </div>
        </div>

        <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
        </a>
    </div>


    <div class="site-section cta-big-image" id="about-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">{% trans 'About Us' %}</h2>
                        <p class="lead" data-aos="fade-up"
                           data-aos-delay="100">{% trans 'At Smart FinTech Solution Group, we specialize in harnessing the power of modern technologies to solve your financial problems effectively.' %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <figure class="circle-bg">
                        <img src="{% static 'images/img_2.jpg' %}" alt="Free Website Template by Free-Template.co"
                             class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

                    <h3 class="text-black mb-4">{% trans 'We Solve Your Financial Problem' %}</h3>

                        <p>{% trans 'Smart FinTech Solution Group is a leading provider of innovative financial technology solutions, empowering businesses to streamline their operations, optimize financial performance, and  drive growth.' %}</p>

                        <p>{% trans 'With a focus on automation of business processes, financial analysis, budgeting, and building robust financial models, we deliver tailored solutions to meet the unique needs of our clients across various industries.' %}</p>

                </div>
            </div>

        </div>
    </div>
    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">{% trans 'Our works' %}</h2>
                        <p class="lead" data-aos="fade-up"
                           data-aos-delay="100">{% trans 'Smart FinTech Solution Group specializes in providing innovative financial technology solutions to businesses across various industries. Their work focuses on automation of business processes, financial analysis, budgeting, and building financial models.' %}</p>
                </div>
            </div>

            <div class="row align-items-lg-center">
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

                    <div class="owl-carousel slide-one-item-alt">
                        <img src="{% static 'images/warehouse.png' %}" alt="Image" class="img-fluid">
                        <img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
                        <img src="{% static 'images/telegram bot.png' %}" alt="Image" class="img-fluid">
                    </div>
                    <div class="custom-direction">
                        <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a
                            href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
                    </div>

                </div>
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

                    <div class="owl-carousel slide-one-item-alt-text">
                        <div>
                            <h2 class="section-title mb-3">{% trans '01. Warehouse control system' %}</h2>
                                <p>{% trans 'A WCS coordinates the movements of materials throughout the warehouse to ensure an efficient and smooth workflow from receiving to shipping' %}</p>

                        </div>
                        <div>
                            <h2 class="section-title mb-3">{% trans '02. Track monitoring system' %}</h2>
                                <p>{% trans 'Track monitoring systems offer continuous operation and automated processing, alerts, data visualization, and reports.' %}</p>
                        </div>
                        <div>
                            <h2 class="section-title mb-3">{% trans '03. Salary bot' %}</h2>
                                <p>{% trans 'Salary bot gives information about workers salary depending on choosing month' %}</p>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="site-section border-bottom bg-light" id="services-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center" data-aos="fade">
                    <h2 class="section-title mb-3">{% trans 'Our Services' %}</h2>
                </div>
            </div>
            <div class="row align-items-stretch">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-3" data-aos="fade-up">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-svg/svg/002-rich.svg' %}"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'Financial analysis' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans "Financial analysis is the process of examining a company's performance in the context of its industry and economic environment in order to arrive at a decision or recommendation." %}</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-3" data-aos="fade-up">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-' %}svg/svg/006-credit-card.svg"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'Budgeting' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans 'Financial budgeting is the process of planning company expenses and revenues for a time period. Budgets set forth the plans of management in financial terms.' %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-3" data-aos="fade-up">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-svg/svg/finance model.jpg' %}"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'Building a financial modal' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans "A financial model is a mathematical representation of how a company works. It is used to forecast the business' financial performance, provide direction, and give context to uncertainty, and creating one of these models is financial modeling." %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-3" data-aos="fade-up">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-svg/svg/investment.png' %}"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'Financial Investment' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans 'A financial investment is an asset that you put money into with the hope that it will grow or appreciate into a larger sum of money.' %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-svg/svg/erp.jpg' %}" style="width: 70px;height: 70px"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'ERP system' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans 'Enterprise resource planning (ERP) is a platform companies use to manage and integrate the essential parts of their businesses.' %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-' %}svg/svg/004-cart.svg"
                                 style="width: 70px;height: 70px"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'CRM system' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans 'A CRM system helps businesses organize and centralize their information on customers, allowing for easier access and customer support.' %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-svg/svg/web development.png' %}"
                                 style="width: 70px;height: 70px"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'Website development' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans 'Web development is the process of building, programming, and maintaining websites and web applications.' %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="unit-4">
                        <div class="unit-4-icon">
                            <img src="{% static 'images/flaticon-svg/svg/telegrambot.png' %}"
                                 style="width: 70px;height: 70px"
                                 alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                        </div>
                        <div>
                            <h3>{% trans 'Telegram bots' %}</h3>
                                <p class="text-justify text-truncate"
                                   style="max-width: 400px;">{% trans 'Lorem ipsum dolor sit amet consectetur adipisicing elit. In, iusto eaque velit saepe nobis ipsa?' %}</p>
                                {#                            <p><a href="#">Learn More</a></p>#}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">{% trans 'Happy Customers' %}</h2>
                </div>
            </div>
        </div>
        <div class="slide-one-item home-slider owl-carousel">
            <div>
                <div class="testimonial">

                    <blockquote class="mb-5">
                        <p>{% trans "&ldquo;Thank you, Smart FinTech Solution Group, for your exceptional service! Your innovative technologies have revolutionized our financial processes, making them more efficient and effective. We appreciate your dedication to our success. Here's to continued partnership and growth!&rdquo;" %}</p>
                    </blockquote>

                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="{% static 'images/person_1.' %}jpg" alt="Image" class="w-50 img-fluid mb-3">
                        </div>
                        <p>Anvarov Bobur</p>
                    </figure>
                </div>
            </div>
            <div>
                <div class="testimonial">

                    <blockquote class="mb-5">
                        <p>{% trans "&ldquo;Dear Smart FinTech Solution Group, Thank you for your outstanding service! Your innovative technologies have transformed our financial processes, making them more efficient and effective. We're grateful for your expertise and dedication to our success. .&rdquo;" %}</p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="{% static 'images/person_2.' %}jpg" alt="Image" class="w-50 img-fluid mb-3">
                        </div>
                        <p>Rahimova Kamola</p>
                    </figure>

                </div>
            </div>

            <div>
                <div class="testimonial">

                    <blockquote class="mb-5">
                        <p>{% trans '&ldquo;Smart FinTech Solution Group, We want to express our sincere gratitude for your excellent service! Your innovative technologies have streamlined our financial operations, leading to increased efficiency and productivity. Thank you for your dedication to our success. &rdquo;' %}</p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="{% static 'images/person_3.' %}jpg" alt="Image" class="w-50 img-fluid mb-3">
                        </div>
                        <p>Sanjarov Odilbek</p>
                    </figure>


                </div>
            </div>

            <div>
                <div class="testimonial">

                    <blockquote class="mb-5">
                        <p>{% trans '&ldquo;Thank you, Smart FinTech Solution Group, Your exceptional service has made a significant impact on our financial processes! Your innovative technologies have revolutionized the way we work, making us more efficient and effective. We appreciate your commitment to our success.&rdquo;' %}</p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="{% static 'images/person_1.' %}jpg" alt="Image" class="w-50 img-fluid mb-3">
                        </div>
                        <p>Kamolov Sarvar</p>
                    </figure>

                </div>
            </div>

        </div>
    </section>

    <section class="site-section bg-light" id="pricing-section">
        <div class="container">

            <div class="row site-section" id="faq-section">
                <div class="col-12 text-center" data-aos="fade">
                    <h2 class="section-title">{% trans 'Frequently Ask Questions' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4">{% trans 'What services does Smart FinTech Solution Group offer?' %}</h3>
                            <p>{% trans 'Smart FinTech Solution Group specializes in automation of business processes, financial analysis, budgeting, and building financial models.' %}</p>
                    </div>

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4"> {% trans 'What industries does Smart FinTech Solution Group serve?' %}</h3>
                            <p>{% trans 'We serve clients across diverse industries, including banking and finance, manufacturing, retail, healthcare, and technology.' %}</p>
                    </div>

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4">{% trans 'Can Smart FinTech Solution Group customize its services to meet specific client needs?' %}</h3>
                            <p>{% trans 'Yes, we tailor our solutions to meet the unique requirements of each client, ensuring that our services align with their business objectives and challenges.' %}</p>
                    </div>

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4"> {% trans 'How experienced is the team at Smart FinTech Solution Group?' %}</h3>
                            <p>{% trans 'Our team comprises seasoned professionals with extensive experience in finance, technology, and business consulting, ensuring the highest standards of service excellence and client satisfaction.' %}</p>
                    </div>
                </div>
                <div class="col-lg-6">

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4">{% trans 'What benefits can clients expect from working with Smart FinTech Solution Group?' %}</h3>
                            <p> {% trans 'Clients can expect benefits such as enhanced efficiency, insightful analysis, effective budgeting, and robust financial models, empowering them to make informed decisions and drive growth.' %}</p>
                    </div>

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4">{% trans 'Can Smart FinTech Solution Group integrate with existing systems and software?' %}</h3>
                            <p>{% trans 'Yes, we understand the importance of seamless integration with existing systems and software. Our solutions are designed to be flexible and compatible, allowing for smooth integration with a wide range of platforms and applications.' %}</p>
                    </div>

                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h4 mb-4">{% trans 'How does Smart FinTech Solution Group ensure data security and confidentiality?' %}</h3>
                            <p>{% trans 'We take data security and confidentiality seriously. Our solutions adhere to industry-leading security standards and protocols to safeguard sensitive information. We implement robust encryption measures, access controls, and regular security audits to mitigate risks and protect client data.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="about-section">
        <div class="container">
        </div>
    </section>


    <section class="site-section bg-light" id="contact-section" data-aos="fade">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">{% trans 'Contact Us' %}</h2>
                </div>
            </div>
            <div class="row mb-5">


                <div class="col-md-4 text-center">
                    <p class="mb-4">
                        <span class="icon-room d-block h2 text-primary"></span>
                        <span>{% trans '123 Main Street, Mirzo Ulugbek District Tashkent, Uzbekistan' %}</span>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-4">
                        <span class="icon-phone d-block h2 text-primary"></span>
                        <a href="#">+99 890 317 33 81</a>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-0">
                        <span class="icon-mail_outline d-block h2 text-primary"></span>
                        <a href="#">kebatotabek33@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5">


                    <form action="." method="post" class="p-5 bg-white">
                        {% csrf_token %}

                        <h2 class="h4 text-black mb-5">Contact Form</h2>

                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <label class="text-black" for="fname">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6">
                                <label class="text-black" for="lname">Last Name</label>
                                {{ form.last_name }}
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="text-black" for="email">Email</label>
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="text-black" for="subject">Subject</label>
                                {{ form.subject }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="message">Message</label>
                                {{ form.message }}
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </section>


    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="footer-heading mb-4">{% trans 'About Us' %}</h2>
                                <p>{% trans 'At Smart FinTech Solution Group, we believe in the power of technology to transform financial processes and unlock new opportunities for our clients. Our team of seasoned professionals brings together expertise in finance, technology, and business consulting to deliver solutions that drive tangible results and create lasting value.' %}</p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <h2 class="footer-heading mb-4">{% trans 'Quick Links' %}</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#about-section" class="smoothscroll">{% trans 'Terms' %}</a></li>
                                    <li><a href="#about-section" class="smoothscroll">{% trans 'Policy' %}</a></li>
                                    <li><a href="#about-section" class="smoothscroll">{% trans 'About Us' %}</a></li>
                                    <li><a href="#services-section" class="smoothscroll">{% trans 'Services' %}</a></li>
                                    <li><a href="#testimonials-section"
                                           class="smoothscroll">{% trans 'Testimonials' %}</a></li>
                                    <li><a href="#contact-section" class="smoothscroll">{% trans 'Contact Us' %}</a></li>
                                </ul>
                        </div>
                        <div class="col-md-3 footer-social">
                            <h2 class="footer-heading mb-4">{% trans 'Follow Us' %}</h2>

                                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>

                                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </div>
                </div>

            </div>
        </div>
    </footer>

</div> <!-- .site-wrap -->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>


</body>
</html>